body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 18s ease infinite;
          animation: rainbow 18s ease infinite;
}
@-webkit-keyframes rainbow {
  0%   { background-position:   0% 82% }
  50%  { background-position: 100% 19% }
  100% { background-position:   0% 82% }
}
@keyframes rainbow {
  0%   { background-position:   0% 82% }
  50%  { background-position: 100% 19% }
  100% { background-position:   0% 82% }
}
img {
  max-height: 65vh;
  max-width: 95vw;
}
h1 {
  font-family: monospace;
  font-size: 5vh;
  margin: 5vh 2.5vw 0;
}
a {
  color: #111;
  text-align: center;
  text-decoration: none;
  transition: all 10s ease-out;
  transition-delay: 0;
}
a:hover {
  color: red;
  text-shadow: 0px 0px 1vh red;
  transition-delay: 10s;
}
